{% extends 'layout.twig' %}

{% block content %}
    <form action="/delete" method="post">
        <div class="flex flex-row border-b-2 border-black justify-between mx-4 mt-10">
            <div class="text-3xl">
                Product list
            </div>

            <div class="flex flex-row gap-2 mb-2">
                <a href="/add" class="border-2 border-black px-1 shadow-md shadow-black hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-90">
                    ADD
                </a>

                <button type="submit" class="border-2 border-black px-1 shadow-md shadow-black hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-90"
                >
                    MASS DELETE
                </button>
            </div>
        </div>

        <div class="flex flex-row mx-20 my-10 gap-12 align-center">
            {% for product in products %}
                <div class="border-2 border-black px-2 flex flex-col min-w-[250px]">
                    <div class="flex flex-row mt-2 align-start">
                        <input type="checkbox" class="delete-checkbox" name="{{ product.name }}" value="{{ product.id }}">
                    </div>
                    <div class="flex flex-col items-center mb-6">
                        <p>{{ product.type }}</p>
                        <p>{{ product.sku }}</p>
                        <p>{{ product.price / 100 }}$</p>
                        <p>{{ product.name }}</p>
                        {% if product.type is same as "DVD" %}
                            <p>{{ product.attribute }}MB</p>
                        {% elseif product.type is same as "Furniture" %}
                            <p>{{ product.attribute }}</p>
                        {% else %}
                            <p>{{ product.attribute }}KG</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}